<div class="auth-page-wrapper pt-5">
    <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
        <div class="bg-overlay"></div>

        <div class="shape">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
                <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
            </svg>
        </div>
    </div>
    <div class="auth-page-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center mt-sm-5 mb-4 text-white-50">
                        <div>
                            <a routerLink="/" class="d-inline-block auth-logo">
                                <img src="assets/images/logo-light.png" alt="" height="150">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="card mt-4">

                        <div class="card-body p-4">
                            <div class="text-center mt-2">
                                <h4>Hola! {{mensaje}}</h4>
                                <h5 class="text-primary">Crea una nueva contraseña</h5>
                                <p class="text-muted">Tu nueva contraseña debe ser diferente de las contraseñas utilizadas anteriormente.</p>
                            </div>
                            <div class="p-2">
                                <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                                    <div class="mb-3 form-group">
                                        <label class="form-label" for="password-input">Contraseña</label>
                                        <div class="position-relative auth-pass-inputgroup">
                                            <input id="password-input" [type]="passwordField ? 'text' : 'password'" class="form-control pe-5 password-input" placeholder="Ingresa contraseña" formControlName="PasswordHash">
                                            <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="password-addon"><i class="ri-eye-fill align-middle"
                                                    [ngClass]="{'mdi-eye-off-outline': !passwordField, 'mdi-eye-outline': passwordField
                                            }" (click)="togglepasswordField()"></i></button>

                                        </div>
                                    </div>

                                    <div class="mb-3 form-group">
                                        <label class="form-label" for="confirm-password-input">Confirmar
                                            contraseña</label>
                                        <div class="position-relative auth-pass-inputgroup">
                                            <input [type]="confirmField ? 'text' : 'password'" class="form-control pe-5 password-input" placeholder="Confirma contraseña" formControlName="CPasswordHash">
                                            <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted password-addon" type="button" id="confirm-password-input"><i
                                                    class="ri-eye-fill align-middle"
                                                    [ngClass]="{'mdi-eye-off-outline': !passwordField, 'mdi-eye-outline': passwordField}"
                                                    (click)="toggleconfirmField()"></i>
                                            </button>
                                        </div>
                                    </div>

                                    <div>
                                        <span *ngIf="!valido" class="text-danger">{{mensaje}}</span>
                                        <small *ngIf="formGroup.errors?.['mismatch']" class="text-danger">Las contraseñas no coinciden.</small>
                                    </div>

                                    <div id="password-contain" class="p-3 bg-light mb-2 rounded">
                                        <h5 class="fs-13">La contraseña debe contener:</h5>
                                        <p id="pass-length" class="invalid fs-12 mb-2">Mínimo <b>8 caracteres</b></p>
                                        <p id="pass-lower" class="invalid fs-12 mb-2">Al menos una <b>letra
                                                minúscula</b> (a-z)</p>
                                        <p id="pass-upper" class="invalid fs-12 mb-2">Al menos una <b>letra
                                                mayúscula</b> (A-Z)</p>
                                        <p id="pass-number" class="invalid fs-12 mb-0">Al menos un <b>número</b> (0-9)
                                        </p>
                                    </div>

                                    <div class="mt-4">
                                        <button class="btn btn-success w-100" type="submit">Restablecer
                                            contraseña</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 text-center">
                        <p class="mb-0">Espera, recuerdo mi contraseña... <a routerLink="/auth/login" class="fw-semibold text-primary text-decoration-underline"> Haz clic aquí </a> </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-center">
                        <p class="mb-0 text-muted">&copy; {{year}} ExpoTextil</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>